<footer>
  <div style="height: 150px; overflow: hidden;">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%;"
    >
      <path
        d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
        style="stroke: none; fill: #fff;"
      ></path>
    </svg>
  </div>
  <section class="footer-content">
    <article class="footer-contact">
      <header>
        <h4>Contactanos</h4>
      </header>
      <ul>
        <li>
          <i class="fab fa-facebook"></i>
        </li>
        <li>
          <i class="fab fa-twitter"></i>
        </li>
        <li>
          <i class="fab fa-soundcloud"></i>
        </li>
        <li>
          <i class="fab fa-mixcloud"></i>
        </li>
      </ul>
    </article>
    <article class="footer-author">
      <div class="footer-author-details">
        <article>
          <span>
            Desarrollado por:
          </span>
          <header>
            <h2>Daniel Garcia</h2>
          </header>
        </article>
        <figure>
          <img src="../../../assets/images/compressor.jpg" />
        </figure>
      </div>
    </article>
  </section>
</footer>
