<header>
  <app-menu></app-menu>
  <app-repro></app-repro>
  <section class="content-header">
    <article class="title-header">
      <h1>Music Box</h1>
      <span>Disfrutemos juntos la música como disfrutamos la vida.</span>
    </article>
    <figure>
      <img src="../../../assets/images/music4.svg" />
    </figure>
  </section>
  <article style="height: 150px; overflow: hidden;" class="wave-bottom">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%;"
    >
      <path
        d="M0.00,49.98 C161.68,157.39 299.94,-33.05 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;"
      ></path>
    </svg>
  </article>
</header>
