<section>
  <app-card [title]="'Iniciar sesión'">
    <ng-container [formGroup]="formLogin">
      <article class="row top">
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            placeholder="Usuario"
            formControlName="email"
            appValidationForm
          />
        </div>
      </article>
      <article class="row top">
        <div class="col-12">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            formControlName="password"
            appValidationForm
          />
        </div>
      </article>
      <article class="row top">
        <button
          mat-fab
          color="primary"
          matTooltip="'Iniciar sesión'"
          [disabled]="!formLogin.valid"
          (click)="login()"
        >
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </article>
    </ng-container>
  </app-card>
</section>
