$color1: #fff;
$color2: #f12711;
$color3: #f5af19d7;
$color4: #f12711d3;
$color5: #f3f5f7;
$color6: #ce8022;

$oragen1: $color3;
$orange2: $color4;

$brown1: $color6;

$color-background1: $color3;
$color-background2: $color4;

$white: $color1;
$color-card: $color3;

$size1: 800px;

$size-md: $size1;
