@import './app/sass/mixin.scss';
@import './app/sass/variables.scss';

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.card-info {
  @include backgroud-gradient($oragen1, $brown1);
}

button:focus {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    outline: none;
  }
}

.showError {
  color: red;
  font-size: 10px;
}
